@import '~LESS_conf';

.range-slider {
  margin: 20px 0;
  width: 100%;

  input{
    -webkit-appearance: none;
    width:  100%;
    
    background: @colorState_disable;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 5px;
    height: 1em;
    .rounded(1em);

    // Reset input
    &::-moz-focus-inner,
    &::-moz-focus-outer {
      border: 0;
    }
    &::-moz-range-track {
      background: @colorState_disable;
      border: 0;
    }
  }

  // Label
  span {
    display    : inline-block;
    position   : relative;
    width      : 60px;
    line-height: 20px;
    text-align : center;
    background : @themeColor_1;
    padding    : 5px 10px;
    margin-right: 8px;
    .rounded();
    .smart-text-color(@themeColor_2);

    & + input{ width:  ~"calc(100% - 90px)"; }
    // Triangle
    &:after{
      content      : '';
      position     : absolute;
      top          : 8px;
      right        : -7px;
      width        : 0;
      height       : 0;
      border-top   : 7px solid transparent;
      border-left  : 7px solid @themeColor_1;
      border-bottom: 7px solid transparent;  
    }
  }
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 3em;
  height: 3em;
  background: @themeColor_1;
  cursor: pointer;
  .rounded(50%);
  .transition(background);
  &:hover{
    background: @themeColor_2;
  }
}
.range-slider__range:active::-webkit-slider-thumb {
  background: @themeColor_2;
}
.range-slider__range::-moz-range-thumb {
  width: 3em;
  height: 3em;
  border: 0;
  background: @themeColor_1;
  cursor: pointer;
  .transform(background);
  .rounded(50%);
  &:hover{
    background: @themeColor_2;
  }
}

.range-slider__range:active::-moz-range-thumb {
  background: @themeColor_2;
}
