@import '../../../styles/conf/index.scss';

// Vars
$add-color-passive: $grey !default;
$add-color-active : $themeColor_1 !default;

// Block
.add {

  // Elements
  input {
    position: absolute;
    opacity : 0;
    z-index : -1;
  }

  label {
    font-size   : 18px;
    
    display     : inline-block;
    position    : relative;
    width       : 100%;
    padding     : .8em .8em .8em 2.6em;
    line-height : 1em;
    box-sizing  : border-box;
    border      : $add-color-passive 2px dashed;
    color       : $add-color-passive;
    cursor      : pointer;
    @include rounded();
  }

  &__icon {
    position : absolute;
    left     : .6em;
    top      : .6em;
    fill     : $white;
    font-size: .8em;

    display   : flex;
    text-align: center;
    height    : 2em;
    width     : 2em;
    background: $add-color-passive;
    @include rounded-circular();
    .icon {
      margin: auto;
    }
  }

  //----------------------
  //----   Modifiers  ----
  //----------------------

  // Focus
  // Hover
  &:hover label,
  input:focus + label {
    background  : darken($white, 5%);
    border-color: $add-color-active;
    color       : $add-color-active;
    
    .add__icon {
      background: $add-color-active;
      fill      : darken($white, 5%);
    }
  }

  // With content
  &--filled label {
    border-style: solid;
  }

  // Disabled
  input:disabled + label {
    background  : darken($white, 2%);
    color       : $colorState_disable;
    border-color: $colorState_disable;
    cursor      : not-allowed;
    .add__icon {
      background: $colorState_disable;;
      fill      : darken($white, 5%);
    }
  }
}