@import '~LESS_conf';

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container,
.pb-circular {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.pb-circular {
  -webkit-transform: translate(-50%, -50%) rotateZ(-90deg);
          transform: translate(-50%, -50%) rotateZ(-90deg);
}
.progress-background {
  stroke: rgba(0,0,0,0.08);
  stroke-width: 8;
  fill: none;
}
.progress-bar {
  stroke: @themeColor_1;
  stroke-width: 8;
  fill: none;
}
label{
  font-size: 14px;
}


.pb-container{
  @size: 100px;

  font-size: @size;
  position : relative;
  width    : 1em;
  height   : 1em;
  .pb-circular{
    width : .8em;
    height: .8em;
  }


  label{
    position   : absolute;
    left       : ~"calc(50% - 1em)";
    top        : ~"calc(50% - .5em)";
    width      : 2em;
    height     : 1em;
    font-size  : .2em;
    line-height: 1;
    text-align : center
  }

  // Sizes
  &.xs{font-size: @size * 0.5;}
  &.sm{font-size: @size;}
  &.md{font-size: @size * 1.5;}
  &.lg{font-size: @size * 2.5;}
}