@import '../../styles/conf/index.scss';

// Block
.accordion-group{
  margin: 0 10px;

  .accordion{
    margin       : 0;
    border-bottom: 2px solid $themeColor_1;
    @include rounded(0);
    
    &:first-child{
      @include rounded($BRadious $BRadious 0 0);
    }
    &:last-child{
      @include rounded(0 0 $BRadious $BRadious);
      border-bottom: 0;
    }
  }
}