@import '../../../styles/conf/index.scss';

// Vars
$header-h         : 3em !default;
$header-color-main: $themeColor_1 !default;
$header-font-size : $fontSize !default;

// Block
.header {
  top       : 0;
  font-size : $header-font-size;
  background: $header-color-main;
  display   : block;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem fade-out($black, .8);
  padding   : 0 2em;
  z-index   : 100;

  @include smart-text-color($header-color-main);

  // Elements
  &__nav {
    position      : relative;
    padding       : 0;
    line-height   : $header-h;
  }

  // Modifiers
  &--sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}