@import '../../../styles/conf/index.scss';

.icon-btn{
  font-size  : 16px;
  width      : 1.5em;
  height     : 1.5em;
  line-height: 1.95em;
  text-align : center;
  cursor     : pointer;
  background : $grey2;
  opacity    : .6;
  @include rounded-circular();
  @include transition(opacity);
  &:hover{
    opacity: 1;
  }

  path{
    fill: $white;
  }
}