// //-------------------
// //--- Breakpints ----
// //-------------------
$bp_xs: 767px;
$bp_sm: 768px;		//@bp_xs + 1px
$bp_md: 992px;
$bp_lg: 1200px;

$prefix-xs : xs;
$prefix-sm : sm;
$prefix-md : md;
$prefix-lg : lg;

$grid-columns     : 12;
$grid-gutter-width: 30px;

// //== Container sizes
// //## Define the maximum width of `.container` for different screen sizes.
// @container-sm: (720px  + @grid-gutter-width);
// @container-md: (940px  + @grid-gutter-width);
// @container-lg: (1140px + @grid-gutter-width);

// //-------------------
// //--- Directories ---
// //-------------------
// @imgDir   : '../img';
// @iconsDir : '@{imgDir}/icons';
// @defImgDir: '@{imgDir}/default';

// @fontDir       : '../fonts';
// @fontAwesomeDir: '@{fontDir}/fontAwesome';

// //-------------------
// //----- Colors ------
// //-------------------
$black    : #000;
$black2   : #4c4c4c;
$white    : #FFF;
$white2   : #ECEEE3;
$grey     : #797d86;
$grey2    : #595e69;
$grey3    : #f1f1f1;
$red      : #ff0000;
$yellow   : #F5DF6C;
$orange   : #f57c00;
$turquoise: #00bcd4;
$pink     : #ff006b;
$blue     : #2196f3;
$purple   : #8c5888;
$green    : #B2E672;

$colorState_info   : #337ab7;
$colorState_success: #5cb85c;
$colorState_warning: #f0ad4e;
$colorState_danger : #d9534f;
$colorState_disable: #DDD;

$states: (
  // name   : (mainColor, backgroundColor)
  'info'    : ($colorState_info   , lighten($colorState_info, 30%)),
  'success' : ($colorState_success, lighten($colorState_success, 30%)),
  'warning' : ($colorState_warning, lighten($colorState_warning, 30%)),
  'danger'  : ($colorState_danger , lighten($colorState_danger, 30%))
);


$fontColor_white  : $white;
$fontColor_grey   : $grey;
$fontColor_black  : $black2;
$fontColor_disable: darken($colorState_disable, 20%);

$themeColor_1 : #8c5888;
$themeColor_2 : #4f2f4c;
$themeColor_BG: $white;

$shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

// //-------------------
// //-- Font families --
// //-------------------

// //@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Lobster);
@mixin font(){
    font-family: 'Lato', sans-serif;
}
@mixin font-regular(){
	font-weight: 400;
}
@mixin font-bold(){
	font-weight: 700;
}
@mixin font_elegant() {
    font-family: 'Cinzel Decorative', cursive;
}
// //-------------------
// //------- More ------
// //-------------------
$fontSize   : 16px;
$inputHeight: 32px;

// // Borders
$BRadious: 6px;
$BStyle  : solid;
$BWidth  : 1px;
$BColor  : $themeColor_2;
$border  : $BStyle $BWidth $BColor;
