// //-------------------
// //--- Breakpints ----
// //-------------------
$bp_xs: 767px;
$bp_sm: 768px;		//@bp_xs + 1px
$bp_md: 992px;
$bp_lg: 1200px;

$prefix-xs : xs;
$prefix-sm : sm;
$prefix-md : md;
$prefix-lg : lg;

$grid-columns     : 12;
$grid-gutter-width: 30px;

// //== Container sizes
// //## Define the maximum width of `.container` for different screen sizes.
$container-sm: (720px  + $grid-gutter-width);
$container-md: (940px  + $grid-gutter-width);
$container-lg: (1140px + $grid-gutter-width);

// //-------------------
// //--- Directories ---
// //-------------------
// @imgDir   : '../img';
// @iconsDir : '@{imgDir}/icons';
// @defImgDir: '@{imgDir}/default';

// @fontDir       : '../fonts';
// @fontAwesomeDir: '@{fontDir}/fontAwesome';

// //-------------------
// //----- Colors ------
// //-------------------
$black    : #000000 !default;
$black2   : #4c4c4c !default;
$white    : #FFFFFF !default;
$white2   : #ECEEE3 !default;
$grey     : #797d86 !default;
$grey2    : #595e69 !default;
$grey3    : #f1f1f1 !default;
$red      : #ff0000 !default;
$yellow   : #F5DF6C !default;
$orange   : #f57c00 !default;
$turquoise: #00bcd4 !default;
$pink     : #ff006b !default;
$blue     : #2196f3 !default;
$purple   : #8c5888 !default;
$green    : #B2E672 !default;

$colorState_info   : #337ab7 !default;
$colorState_success: #5cb85c !default;
$colorState_warning: #f0ad4e !default;
$colorState_danger : #d9534f !default;
$colorState_disable: #DDDDDD !default;

$states: (
  // name   : (mainColor, backgroundColor)
  'info'    : ($colorState_info   , lighten($colorState_info, 30%)),
  'success' : ($colorState_success, lighten($colorState_success, 30%)),
  'warning' : ($colorState_warning, lighten($colorState_warning, 30%)),
  'danger'  : ($colorState_danger , lighten($colorState_danger, 30%)),
  'disable' : ($colorState_disable, lighten($colorState_disable, 30%))
);


$fontColor_white  : $white;
$fontColor_grey   : $grey;
$fontColor_black  : $black2;
$fontColor_disable: darken($colorState_disable, 20%);

$themeColor_1 : #268f70 !default;
$themeColor_2 : lighten(adjust-hue($themeColor_1, 40), 5) !default;
$themeColor_3 : desaturate(adjust-hue($themeColor_1, 180), 10) !default;;
$themeColor_BG: $white !default;

$shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

// //-------------------
// //-- Font families --
// //-------------------

// //@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Lobster);
@mixin font(){
  font-family: 'Lato', sans-serif;
}
@mixin font-regular(){
	font-weight: 400;
}
@mixin font-bold(){
	font-weight: 700;
}
@mixin font_elegant() {
  font-family: 'Cinzel Decorative', cursive;
}
// //-------------------
// //------- More ------
// //-------------------
$fontSize   : 16px;
$inputHeight: 32px;

// // Borders
$BRadious: 6px;
$BStyle  : solid;
$BWidth  : 1px;
$BColor  : $themeColor_2;
$border  : $BStyle $BWidth $BColor;
