@import '../../styles/conf/index.scss';

// Vars
$divider-color    : $themeColor_1 !default;
$divider-color-sec: $themeColor_BG !default;

// Block
.divider {
  position  : relative;
  height    : 1px;
  width     : 100%;
  margin    : 1em auto;
  border    : none;
  overflow  : visible;
  text-align: center;
  color     : $divider-color;
  opacity   : .8;
  background: linear-gradient(to right, transparent, $divider-color, transparent);

  &:before {
    $size: 8px;

    content: '';
    position  : absolute;
    left      : 50%;
    font-size : $size;
    height    : 1em;
    width     : 1em;
    margin    : -.5em;
    background: $divider-color-sec;
    border    : $divider-color 1px solid;
    box-sizing: border-box;
    @include rotate(45deg);
  }
  &:after {
    content    : attr(data-content);
    position   : relative;
    top        : -.8em;
    display    : inline-block;
    padding    : 0 .8em;
    line-height: 1.6em;
    background : $divider-color-sec;
  }
}