@import '~LESS_conf';

.form-switch{
    @BG_1           : @colorState_disable;
    @BG_2           : @themeColor_2;
	@height         : @inputHeight;
	@transition-time: 0.20s;

    font-size  : @height;
    line-height: 1;
	input[type="checkbox"]{
		opacity : 0;
		position: absolute;
		& + label{
			position  : relative;
			display   : block;
			width     : 2em;
			height    : 1em;
			background: @BG_1;
			cursor    : pointer;
			.rounded(1em);
			.transition(@property: background-color; @time: @transition-time);
			&:after{
				position  : absolute;
				content   : '';
				left      : .15em;
				top       : .15em;
				height    : .7em;
				width     : .7em;
				background: @themeColor_1;
				.rounded(50%);
				.transition(@time: @transition-time);
			}
		}

		&:focus + label:after{
			background: darken(@themeColor_1, 10%);
		}
		&:checked + label{
			background: @BG_2;
			&:after{
				left: 1.15em;
			}
		}
	}

	&.texted input[type="checkbox"]{
		& + label{
			&:before{
				position   : absolute;
				content    : 'Off';
				right      : 12.5%;
				font-size  : .5em;
				line-height: 2em;
                .smart-text-color(@BG_1);
                .transition(@property: right; @time: @transition-time);
			}
		}
		&:checked + label{
			&:before{
				content: 'On';
				right  : 55%;
                .smart-text-color(@BG_2);
			}
		}
	}
}