@import '../../styles/conf/index.scss';

// Vars
$loading-size         : 32px !default;
$loading-color        : $themeColor_1 !default;
$loading-color-disable: $colorState_disable !default;

// Styles
.loading{
  font-size : $loading-size;
  display   : block;
  opacity   : .8;
  box-sizing: border-box;
  margin    : auto;
  width     : 1em;
  height    : 1em;

  @include rounded(50%);
  &.spinner{
    background      : transparent;
    border          : $loading-color-disable .1em solid;
    border-top-color: $loading-color;
    // .animation_spin();
    // .animation(spin; 1s);
  }
  &.pulse{
    width     : .4em;
    height    : .4em;
    margin    : 1em auto;
    background: $loading-color;
    // .animation_pulse(@color, .5em);
    // .animation(pulse; 1.5s);
  }

  // // Sizes
  &.xs{font-size: $loading-size * 0.5;}
  &.sm{font-size: $loading-size;}
  &.md{font-size: $loading-size * 1.5;}
  &.lg{font-size: $loading-size * 2.5;}
}