@import '../../../styles/conf/index.scss';

// Vars
$githubCorner-color   : $themeColor_1 !default;
$githubCorner-color-BG: $themeColor_BG !default;

// Block
.github-corner {
  position: fixed;
  top     : 0;
  right   : 0;
  color   : $githubCorner-color-BG;
  cursor  : pointer;

  // Elements
  path:first-child {
    fill: $githubCorner-color;
  }

  .octo-arm {
    transform-origin: bottom right;
  }

  // Modifiers
  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }

    @keyframes octocat-wave {
      0%,100% {transform:rotate(0)}
      20%,60% {transform:rotate(-25deg)}
      40%,80% {transform:rotate(10deg)}
    }
  }
}