@import '../../../styles/conf/index.scss';

// Vars
$formCheck-color-main: $themeColor_1 !default;
$formCheck-color-sec : $themeColor_2 !default;
$formCheck-color-disable : $fontColor_disable !default;

.form-checkBox {
  display    : block;
  position   : relative;
  padding    : 0;
  cursor     : pointer;
  font-size  : 18px;
  line-height: 1.5;

  input {
    position: absolute;
    z-index : -1;
    opacity : 0;
  }

  &__text {
    display: block;
    padding: 0 0 0 1.5em;
    @include transition(color);

    &:before,
    &:after {
      content   : '';
      position  : absolute;
      left      : 0;
      top       : .25em;
      height    : 1em;
      width     : 1em;
      font-size : 1em;
      background: transparent;
      box-sizing: border-box;
      @include transition();
    }

    &:before{
      border: .15em solid $formCheck-color-disable;
    }
    // Checkbox inside
    &:after {
      top        : .3em;
      left       : .3em;
      border     : .1em solid $black;
      border-left: none;
      border-top : none;
      width      : .4em;
      height     : .7em;
      opacity    : 0;
      @include rotate(90deg);
    }
  }

  //----------------------
  //----    STATES    ----
  //----------------------

  // Focus
  // Hover
  input:focus + span,
  &:hover .form-checkBox__text {
    color: $formCheck-color-sec;
    &:before {
      border-color: $formCheck-color-sec;
    }
  }
    
  // Checked
  &--checked .form-checkBox__text {
    &:before {
      border-width: .5em;
      border-color: $formCheck-color-main;
    }
    &:after {
      opacity: 1;
      @include rotate(45deg);
    }
  }

  // Disabled
  &--disabled .form-checkBox__text {
    color : $formCheck-color-disable !important;
    cursor: not-allowed;
    &:before{ border-color: $formCheck-color-disable !important; }
    &:after { border-color: darken($formCheck-color-disable, 30) !important; }
  }
}